# Markdown
## Markdown
### Markdown
#### Markdown

**Python**

*Python*

## Insert image
![text](https://image.shutterstock.com/image-photo/majestic-view-on-turquoise-water-260nw-266538056.jpg)

# Insert site
[site](https://www.gitam.edu/)

# PYTHON
- easy to learn
- more popular and in demand
- used in datascience

In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello, HYDERABAD")

Hello, HYDERABAD

## Assignment

In [3]:
x=12
y=18
print(x,y)

12 18

In [4]:
a = b = c =20
print(a,b,c)

20 20 20

In [5]:
a1,b1,c1=100,200,300
print(a1,b1,c1)

100 200 300

## Datatypes and Conversions
- int
- float
- string
- complex
- boolean

In [6]:
x = 10
y = 12.56
z = 3+5j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [7]:
x=4
y=10
x<y

True

In [8]:
a=8
b=5
print(type(a<b))

<class 'bool'>

In [13]:
s1="abc"
s2="xyz"
s3="123"
print(type(s1))
print(type(s2))
print(type(s3))

<class 'str'>
<class 'str'>
<class 'str'>

In [15]:
i=100
print(type(i))
s=str(i)
print(type(s))
f=float(i)
print(type(f))

<class 'int'>
<class 'str'>
<class 'float'>

In [16]:
c=complex(3,5)
print(c)

(3+5j)

## Reading a value---Input function

In [23]:
s=input("enter name: ")
print(s)
print(type(s))

enter name: sithamshu
sithamshu
<class 'str'>

In [22]:
a=int(input("enter age: "))
print(a)
print(type(a))

enter age: 20
20
<class 'int'>

## Operators
- it is a symbol used to perform a specific kind of operation

### Arithemetic Operator 
- +
- -
- *
- /
- %
- //
- **

In [24]:
n1=123
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

133
113
1230
12.3
3
12
792594609605189126649

### Precedence of Arth operators
- Parenthesis
- Power
- Multiplication
- Division
- Addition

In [27]:
x =1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [28]:
x=1+2**3/4*5
print(x)

11.0

In [29]:
x=(2**3+5/2)
print(x)

10.5

### Relational Operators
- ==, != , <= , >= , < , >

In [32]:
a=10
a1=a>15
a2=a<15
print(a1)
print(a2)

False
True

### Logical Operators

In [36]:
x=20
y=30
print(x>=10 and x<=20)
print(x<=10 or x>=20)
print(not x)

True
True
False

### Membership Operators

In [37]:
str1="abc"
print('a'in str1)
print('a' not in str1)

True
False

## Conditional Statements

### If-else Statements
#### Syntax:
##### if condition:
> Statement<br>
##### else:
> Statement<br>

In [41]:
# even or odd
n=int(input("enter a number: "))
if n%2==0:
          print("even number")
else:
         print("odd number")

enter a number: 20
even number

In [42]:
# check given number is perfectly divisible by 3 and 5
n=int(input("enter the number: "))
if n%3==0 and n%5==0:
    print("divisible")
else:
    print("not divisible")

enter the number: 15
divisible

In [46]:
# check whether given number is positive, negative or zero
n=int(input("enter the number: "))
if n>0:
    print("positive")
elif n==0:
    print("zero")
else:
    print("negative")

enter the number: 0
zero

In [2]:
# given number is leap year or not
n=int(input("enter the year: "))
if n%400==0 or (n%100!=0 and n%4==0):
    print("leap year")
else:
    print("not a leap year")

enter the year: 2100
not a leap year