# List Examples

In [45]:
li=["GITAM",123,124,1323,3456,3451]
print(li)
print(li[2])
print(li[2:])
print(li[2:4])
print(li[-1])
print(li[-4:-1])
print(li[::-1])
print(li[-1::-1])

['GITAM', 123, 124, 1323, 3456, 3451]
124
[124, 1323, 3456, 3451]
[124, 1323]
3451
[124, 1323, 3456]
[3451, 3456, 1323, 124, 123, 'GITAM']
[3451, 3456, 1323, 124, 123, 'GITAM']

In [13]:
# UPDATE
li[0]="Situ"
print(li)

['Situ', 123, 124, 1323, 3456, 3451]

In [14]:
# DELETE
del li[3]
print(li)

['Situ', 123, 124, 3456, 3451]

In [7]:
del li[4]
print(li)

['Situ', 123, 124, 3456]

In [17]:
li=[1,23,4,56,7]
print(len(li))
print(li*2)
print(3 in li)
print(7 in li)

5
[1, 23, 4, 56, 7, 1, 23, 4, 56, 7]
False
True

## Basic List Functions

In [24]:
li=[1,2,3,4,5,6]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)/len(li)) #AVERAGE

6
1
21
3.5

In [26]:
li=[1,2,3,4,5]
#add new item at specific index
li.append(6)  
print(li)
#add new item at specific index
li.insert(6,7)  
print(li)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [29]:
li=[1,3,2,5,6,4]
#sort list in ascending order
li.sort()
print(li)
#delete the last index item
li.pop() 
print(li)
#removes item from specific index
li.pop(2) 
print(li)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [31]:
# Function to return large number from list 
def largenum(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[20,56,31,53,16,99]
print(largenum(li))
print(genericlarge(li,3))

99
53

In [34]:
def smallnum(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li=[20,56,31,53,16,99]
print(smallnum(li))
print(genericsmall(li,2))

16
20

# Tuples
- values seperated by comma"," enclosed by parenthesis"()"
- values cannot be changed or immutable

   ## Difference b/w List and Tuple
   
- List can be modified
- List is used to access means modify,add,delete,update
- Tuple cannot be modified
- Tuple used to access data only

In [38]:
t1=(1,2,3,4,5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

## Dictionaries
- Works on concept ofset unique data
- Contains keys and values
- Each key is seperated from its values with colon " : "
- Each key and values are seperated by comma ','
- Enclosed by {}

In [48]:
d1={"Name":"GITAM","Email":"gitam@gmail.com","Address":"Hyderabad"}
d1

{'Name': 'GITAM', 'Email': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [11]:
d1={"Name":"GITAM","Email":"gitam@gmail.com","Address":"Hyderabad"}
d1["Name"]

'GITAM'

In [18]:
d1["Email"]='python@gmail.com'
d1

{'Name': 'GITAM',
 'Address': 'Hyderabad',
 'Course': 'Python',
 'Email': 'python@gmail.com'}

In [19]:
d1['Course']='Python'
d1

{'Name': 'GITAM',
 'Address': 'Hyderabad',
 'Course': 'Python',
 'Email': 'python@gmail.com'}

In [21]:
# DELETE
del d1["Email"]
d1

{'Name': 'GITAM', 'Address': 'Hyderabad', 'Course': 'Python'}

In [22]:
d1.keys()

dict_keys(['Name', 'Address', 'Course'])

In [23]:
d1.values()

dict_values(['GITAM', 'Hyderabad', 'Python'])

In [24]:
d1.items()

dict_items([('Name', 'GITAM'), ('Address', 'Hyderabad'), ('Course', 'Python')])

## Strings

In [26]:
s1='Python'
print(s1)
print(type(s1))

Python
<class 'str'>

In [30]:
s1='Python'
print(s1[0])
print(s1[5])
print(s1[2:])
print(s1[::-1])

P
n
thon
nohtyP

In [4]:
s1='Python'
print(s1[len(s1)//2])
print(s1[0:6:2])
print(s1[0:6:3])

h
Pto
Ph

In [8]:
# Using Function reverse of string
def reverse(s):
       return s[::-1]
reverse("programming")

'gnimmargorp'

In [9]:
# Palindrome
def palin(p):
    rev=0
    buffer=p
    rev=p[::-1]
    if buffer==rev:
        return "palindrome"
    else:
        return "not palindrome"
print(palin("nitin"))
print(palin("programming"))

palindrome
not palindrome

In [11]:
def palin(p):
    rev=p[::-1]
    if rev==p:
          return "yes"
    else:
         return "no"
print(palin("bob"))
print(palin("nani"))

yes
no

## String build-in-methods
- upper()
- lower()
- islower()
- isupper()
- istitle()
- isnumeric()
- isalpha()
- isspace()

In [22]:
s1='Python'
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isalpha())
s2='31'
print(s2.isnumeric())
s3=" "
print(s3.isspace())

PYTHON
python
False
False
True
True
True
True

## String Methods
- join() 
- split()
- replace()

In [33]:
s='python'
print(" ".join(s))

p y t h o n

In [34]:
s="python is easy to learn"
print(".".join(s))

p.y.t.h.o.n. .i.s. .e.a.s.y. .t.o. .l.e.a.r.n

In [35]:
s="python is easy to learn"
print(s.split())
print(s.split('a'))

['python', 'is', 'easy', 'to', 'learn']
['python is e', 'sy to le', 'rn']

In [36]:
s="pythoniseasytolearn"
li=list(s)
print(li)

['p', 'y', 't', 'h', 'o', 'n', 'i', 's', 'e', 'a', 's', 'y', 't', 'o', 'l', 'e', 'a', 'r', 'n']

In [37]:
s="python is easy to learn"
print(s.replace("easy","very easy"))

python is very easy to learn

In [57]:
# Input:marks={'peter':[80,85,90],'joe':[86,90,95]}
# Output:
# 1.[80,85,90]
# 2.85
# 3.86
# 4.[95,90,86]

print(marks["peter"])
l1=marks["peter"]
l2=marks["joe"]
print(sum(l1)//len(l1))
print(l2[0])
print(l2[::-1])

NameError: name 'marks' is not defined

In [ ]:
s1=mark